* {
    margin: 0;
    padding: 0;
}

.container-Navbar {
    background-color: #495C7C;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-self: auto;
    flex-flow: row wrap;
    justify-content: stretch;
    justify-content: center;
}

.container-Navbar li {
    list-style-type: none;
}

.container-Navbar a {
    display: inline-block;
    padding: 25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: white
}

.container-Navbar a:hover {
    background-color: #871746;
    color: white;
}

#container-SearchBar {
    display: flex;
    border-radius: 10px;
    border: 2px solid #ccc;
    overflow: hidden;
    padding: 5px;
    margin-left: 400px;
}

.icon {
    padding: 0.8rem;
}

.searchBox {
    border: 0;
    border-radius: 8px;
    flex: 1;
    font-family:Arial, Helvetica, sans-serif
}

.searchButton {
    color: #871746;
    background: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0;
    padding: 0.8rem;
    margin-left: 4px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    padding-top: 40px;
    color: #871746;
    font-size: 3.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    text-align: center;
    padding-top: 40px;
    font-size: 2rem;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-gallery {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.container-scheduling {
    display: flex;
    justify-content: space-around;
}

.calendar-date {
    text-align: center;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #871746;
}

#date {
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.age {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #871746;
    margin-left: 15px;
}

.contact {
    text-align: center;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #871746;
}

#first_name {
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#user_email {
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.label {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.submit {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
    background-color: #871746;
    color: white;
    border-radius: 8px;
}